<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Cards List</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
</head>
<body>
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 align-items-center">
                <li><a href="/" class="nav-link px-3 text-white"><i class="bi bi-house"></i> Home</a></li>
                <li><a href="/checks" class="nav-link px-3 text-white"><i class="bi bi-piggy-bank"></i> Checks</a></li>
                <li><a href="/employees" class="nav-link px-3 text-white" sec:authorize="hasAnyAuthority('MANAGER')"><i class="bi bi-person"></i> Employees</a></li>
                <li><a href="/customers" class="nav-link px-3 text-secondary"><i class="bi bi-people"></i> Customers</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link px-3 text-white dropdown-toggle" id="productsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-handbag"></i> Products
                    </a>
                    <ul class="dropdown-menu gap-1 p-2 rounded-3 mx-0 border-0 shadow w-220px" aria-labelledby="productsDropdown" data-bs-theme="dark">
                        <li><a class="dropdown-item rounded-2" href="/products">Products</a></li>
                        <li><a class="dropdown-item rounded-2" href="/store-products">Store products</a></li>
                        <li><a class="dropdown-item rounded-2" href="/categories">Categories</a></li>
                    </ul>
                </li>
            </ul>
            <div class="text-end d-flex align-items-center justify-content-end">
                <a href="/employees/me" class="nav-link px-3 text-white"><i class="bi bi-person-circle"></i> Profile</a>
                <form th:action="@{/logout}" method="post" class="ms-2">
                    <input type="submit" value="Sign Out" class="btn btn-outline-light me-2"/>
                </form>
            </div>
        </div>
    </div>
</header>
<div class="container text-center align-items-center">
    <div class="row">
        <div class="col-md-8 text-start">
            <div class="d-flex align-items-center">
                <form class="input-group me-2" th:action="@{/customers/percent-search}" method="get">
                    <input class="form-control" type="number" name="percent" min="0" max="100" placeholder="% discount" required>
                    <button type="submit" class="btn btn-outline-dark">Search</button>
                </form>
                <form class="input-group me-2" th:action="@{/customers/surname-search}" method="get">
                    <input class="form-control" type="text" name="surname" placeholder="Surname" required>
                    <button type="submit" class="btn btn-outline-dark">Search</button>
                </form>
                <a href="/customers" class="btn btn-dark">Reset</a>
            </div>
        </div>
        <div class="col-md-4 text-end">
            <button class="btn btn-dark" id="print-button" sec:authorize="hasAnyAuthority('MANAGER')"><i class="bi bi-printer-fill"></i></button>
            <a href="/customers/add" class="btn btn-success">Add Customer Card</a>
        </div>
    </div>
</div>
<div class="container">
<table class="table table-hover">
    <thead class="table-dark">
    <tr>
        <th>Card Number</th>
        <th>Surname</th>
        <th>Name</th>
        <th>Patronymic</th>
        <th>Phone Number</th>
        <th>City</th>
        <th>Street</th>
        <th>Zip Code</th>
        <th>Discount</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customerCard : ${customerCards}">
        <th scope="row" th:text="${customerCard.cardNumber}"></th>
        <td th:text="${customerCard.surname}"></td>
        <td th:text="${customerCard.name}"></td>
        <td th:text="${customerCard.patronymic}"></td>
        <td th:text="${customerCard.phoneNumber}"></td>
        <td th:text="${customerCard.city}"></td>
        <td th:text="${customerCard.street}"></td>
        <td th:text="${customerCard.zipCode}"></td>
        <td th:text="${customerCard.percent}">%</td>
        <td>
            <a th:href="@{'/customers/edit/' + ${customerCard.cardNumber}}" class="btn btn-info"><i class="bi bi-pencil-fill"></i></a>
            <a th:href="@{'/customers/delete/' + ${customerCard.cardNumber}}" class="btn btn-danger" sec:authorize="hasAnyAuthority('MANAGER')"><i class="bi bi-trash-fill"></i></a>
        </td>
    </tr>
    </tbody>
</table>
</div>
<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>
