<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Contact Details</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
<h1>Employee Contact Details</h1>
</div>
<div class="container text-end">
    <a href="/employees" class="btn btn-dark">Back to Employee List</a>
</div>
<div class="container">
<table class="table table-hover">
    <thead class="table-dark">
    <tr>
        <th scope="col">Surname</th>
        <th scope="col">Name</th>
        <th scope="col">Patronymic</th>
        <th scope="col">Phone Number</th>
        <th scope="col">City</th>
        <th scope="col">Street</th>
        <th scope="col">Zip Code</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.surname}"></td>
        <td th:text="${employee.name}"></td>
        <td th:text="${employee.patronymic}"></td>
        <td th:text="${employee.phoneNumber}"></td>
        <td th:text="${employee.city}"></td>
        <td th:text="${employee.street}"></td>
        <td th:text="${employee.zipCode}"></td>
    </tr>
    </tbody>
</table>
</div>

<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
