<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Categories List</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
</head>
<body>
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 align-items-center">
                <li><a href="/" class="nav-link px-3 text-white">Home</a></li>
                <li><a href="/employees" class="nav-link px-3 text-white">Employees</a></li>
                <li><a href="/checks" class="nav-link px-3 text-white">Checks</a></li>
                <li><a href="/customers" class="nav-link px-3 text-white">Customers</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link px-3 text-secondary dropdown-toggle" id="productsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Products
                    </a>
                    <ul class="dropdown-menu gap-1 p-2 rounded-3 mx-0 border-0 shadow w-220px" aria-labelledby="productsDropdown" data-bs-theme="dark">
                        <li><a class="dropdown-item rounded-2" href="/products">Products</a></li>
                        <li><a class="dropdown-item rounded-2" href="/store-products">Store products</a></li>
                        <li><a class="dropdown-item rounded-2 active" href="/categories">Categories</a></li>
                    </ul>
                </li>
            </ul>
            <div class="text-end">
                <button type="button" class="btn btn-outline-light me-2">Sign-out</button>
            </div>
        </div>
    </div>
</header>
<div class="container text-center">
<h1>Categories List</h1>
</div>

<div class="container text-end">
    <a href="/categories/add" class="btn btn-success">Add Category</a>
</div>
<div class="container">
<table class="table table-hover">
    <thead class="table-dark">
    <tr>
        <th>Category Number</th>
        <th>Category Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="category : ${categories}">
        <th scope="row" th:text="${category.number}"></th>
        <td th:text="${category.name}"></td>
        <td>
            <a th:href="@{'/categories/edit/' + ${category.number}}" class="btn btn-info"><i class="bi bi-pencil-fill"></i></a>
            <a th:href="@{'/categories/delete/' + ${category.number}}" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
        </td>
    </tr>
    </tbody>
</table>
</div>
<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
